{% extends 'profiles/profile.html' %}

{% block title %}
{{ entity.name }}
{% endblock %}

{% block profileImage %}
<img src="{{ entity.profilePhoto.url }}" alt="Profile Photo" class="profile-photo my-4">
{% endblock %}

{% block imageInfo %}
<h1>{{ entity.name }}</h1>
{% endblock %}

{% block profileInfo %}
<h2>Information</h2>
<div class="row my-4 g-4">
    <div class="form-group col-12">
        <label for="about">About : </label>
        <div class="form-control" id="about"> {{ entity.about }} </div>
    </div>
</div>
{% endblock %}