{% extends 'base.html' %}

{% block style %}
<style>
    .profile-photo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
</style>
{% endblock %}

{% block body %}
{% block modals %}
{% endblock %}
<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-12 col-md-4 bg-dark text-white">
            <div class="row mb-4">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    {% block profileImage %}
                    {% endblock %}
                </div>
                <div class="col-12 text-center">
                    {% block imageInfo %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 p-3" style="background-color:rgba(139, 141, 31, 0.763);">    
            {% block profileInfo %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}