{% extends 'profiles/profile.html' %}

{% block title %}
User | {{ user.username }}
{% endblock %}

{% block profileImage %}
<img src="{{ user.person.profilePhoto.url }}" alt="Profile Photo" class="profile-photo my-4">
{% endblock %}

{% block imageInfo %}
<h1>{{ user.username }}</h1>
<p>{{ user.type }}</p>
{% endblock %}

{% block profileInfo %}
<h2>User Information</h2>
<div class="row my-4 g-4">
    <div class="form-group col-12 col-md-6">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" value="{{ user.first_name }}" readonly>
    </div>
    <div class="form-group col-12 col-md-6">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" value="{{ user.last_name }}" readonly>
    </div>
    <div class="form-group col-12 col-md-6">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
    </div>
    <div class="form-group col-12 col-md-6">
        <label for="department">Department</label>
        <input type="text" class="form-control" id="department" value="{{ user.person.department }}" readonly>
    </div>
    {% block extraInfo %} {% endblock %}
</div>
{% endblock %}